USE [Cognitive]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 5/10/2026 11:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](100) NOT NULL,
	[EMAIL] [varchar](200) NOT NULL,
	[PASSWORD] [varchar](500) NOT NULL,
	[ROLE] [varchar](20) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[SUBSCRIPTION] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPOINTMENTS]    Script Date: 5/10/2026 11:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENTS](
	[APPOINTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [int] NOT NULL,
	[PRACTITIONER_ID] [int] NOT NULL,
	[APPOINTMENT_DATE] [datetime] NOT NULL,
	[FEE] [decimal](10, 2) NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[NOTES] [varchar](500) NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSESSMENTS]    Script Date: 5/10/2026 11:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSESSMENTS](
	[ASSESSMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [int] NOT NULL,
	[PRACTITIONER_ID] [int] NOT NULL,
	[DATE_ASSESSED] [datetime] NOT NULL,
	[AGE] [int] NULL,
	[GENDER] [varchar](10) NULL,
	[SLEEP_DURATION] [float] NULL,
	[STRESS_LEVEL] [int] NULL,
	[DIET_TYPE] [varchar](30) NULL,
	[DAILY_SCREEN_TIME] [float] NULL,
	[EXERCISE_FREQUENCY] [varchar](20) NULL,
	[CAFFEINE_INTAKE] [float] NULL,
	[REACTION_TIME] [float] NULL,
	[MEMORY_TEST_SCORE] [float] NULL,
	[COGNITIVE_SCORE] [float] NULL,
	[NOTES] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ASSESSMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PATIENTS]    Script Date: 5/10/2026 11:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PATIENTS](
	[PATIENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[PRACTITIONER_ID] [int] NOT NULL,
	[FULL_NAME] [varchar](100) NOT NULL,
	[DATE_ADDED] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 5/10/2026 11:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[APPOINTMENT_ID] [int] NOT NULL,
	[AMOUNT] [decimal](10, 2) NOT NULL,
	[PAYMENT_METHOD] [varchar](50) NOT NULL,
	[REFERENCE_NUMBER] [varchar](100) NULL,
	[STATUS] [varchar](20) NOT NULL,
	[PAID_AT] [datetime] NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIPTIONS]    Script Date: 5/10/2026 11:32:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIPTIONS](
	[SUBSCRIPTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[PLAN_TYPE] [varchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[MONTHLY_LIMIT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SUBSCRIPTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON 

INSERT [dbo].[ACCOUNTS] ([ACCOUNT_ID], [USERNAME], [EMAIL], [PASSWORD], [ROLE], [DATE_CREATED], [SUBSCRIPTION]) VALUES (1, N'admin', N'admin@cognitiveai.local', N'$2y$10$2t1sOZxt3sv7LFThfhjTfuknpUU7P4ShsjnTGydS7At9ss446Fsu2', N'admin', CAST(N'2026-04-11T14:32:11.360' AS DateTime), N'none')
INSERT [dbo].[ACCOUNTS] ([ACCOUNT_ID], [USERNAME], [EMAIL], [PASSWORD], [ROLE], [DATE_CREATED], [SUBSCRIPTION]) VALUES (2, N'natsu', N'no@gmail.com', N'$2y$10$A.4K68NvYiWgNWOVcIiSiujmkR8roS3Njyn7V9ke0RYPmTLDUucuC', N'practitioner', CAST(N'2026-04-23T22:14:31.717' AS DateTime), N'basic')
INSERT [dbo].[ACCOUNTS] ([ACCOUNT_ID], [USERNAME], [EMAIL], [PASSWORD], [ROLE], [DATE_CREATED], [SUBSCRIPTION]) VALUES (3, N'ustan.9589', N'ustan.9589@patient.cognitiveai.local', N'$2y$10$swufVl.H5RjwBK.LSrEXSusP06gIJKW2oqMC5MqwsG.Q/gCUh.EwK', N'patient', CAST(N'2026-04-23T22:15:27.943' AS DateTime), N'none')
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
GO
SET IDENTITY_INSERT [dbo].[APPOINTMENTS] ON 

INSERT [dbo].[APPOINTMENTS] ([APPOINTMENT_ID], [PATIENT_ID], [PRACTITIONER_ID], [APPOINTMENT_DATE], [FEE], [STATUS], [NOTES], [CREATED_AT]) VALUES (2, 9, 9, CAST(N'2026-05-10T11:10:00.000' AS DateTime), CAST(500.00 AS Decimal(10, 2)), N'confirmed', N'pls visit the clinic', CAST(N'2026-05-09T11:13:19.200' AS DateTime))
INSERT [dbo].[APPOINTMENTS] ([APPOINTMENT_ID], [PATIENT_ID], [PRACTITIONER_ID], [APPOINTMENT_DATE], [FEE], [STATUS], [NOTES], [CREATED_AT]) VALUES (3, 9, 9, CAST(N'2026-05-11T16:37:00.000' AS DateTime), CAST(700.00 AS Decimal(10, 2)), N'confirmed', N'pls visit the clinic', CAST(N'2026-05-10T16:37:22.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[APPOINTMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ASSESSMENTS] ON 

INSERT [dbo].[ASSESSMENTS] ([ASSESSMENT_ID], [PATIENT_ID], [PRACTITIONER_ID], [DATE_ASSESSED], [AGE], [GENDER], [SLEEP_DURATION], [STRESS_LEVEL], [DIET_TYPE], [DAILY_SCREEN_TIME], [EXERCISE_FREQUENCY], [CAFFEINE_INTAKE], [REACTION_TIME], [MEMORY_TEST_SCORE], [COGNITIVE_SCORE], [NOTES]) VALUES (1, 7, 9, CAST(N'2026-04-26T22:20:30.063' AS DateTime), 12, N'Male', 8, 6, N'Balanced', 7, N'Occasionally', 1, 280, 100, 95.9, N'')
INSERT [dbo].[ASSESSMENTS] ([ASSESSMENT_ID], [PATIENT_ID], [PRACTITIONER_ID], [DATE_ASSESSED], [AGE], [GENDER], [SLEEP_DURATION], [STRESS_LEVEL], [DIET_TYPE], [DAILY_SCREEN_TIME], [EXERCISE_FREQUENCY], [CAFFEINE_INTAKE], [REACTION_TIME], [MEMORY_TEST_SCORE], [COGNITIVE_SCORE], [NOTES]) VALUES (2, 9, 9, CAST(N'2026-05-02T17:51:26.617' AS DateTime), 22, N'Male', 7, 6, N'Balanced', 4, N'Occasionally', 2, 274, 100, 99.58, N'')
INSERT [dbo].[ASSESSMENTS] ([ASSESSMENT_ID], [PATIENT_ID], [PRACTITIONER_ID], [DATE_ASSESSED], [AGE], [GENDER], [SLEEP_DURATION], [STRESS_LEVEL], [DIET_TYPE], [DAILY_SCREEN_TIME], [EXERCISE_FREQUENCY], [CAFFEINE_INTAKE], [REACTION_TIME], [MEMORY_TEST_SCORE], [COGNITIVE_SCORE], [NOTES]) VALUES (3, 7, 9, CAST(N'2026-05-02T18:14:32.757' AS DateTime), 22, N'Male', 5, 7, N'Balanced', 7, N'Rarely', 1, 1304, 65, 25.09, N'')
SET IDENTITY_INSERT [dbo].[ASSESSMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[PATIENTS] ON 

INSERT [dbo].[PATIENTS] ([PATIENT_ID], [ACCOUNT_ID], [PRACTITIONER_ID], [FULL_NAME], [DATE_ADDED]) VALUES (5, 8, 6, N'patient1', CAST(N'2026-04-24T01:08:30.350' AS DateTime))
INSERT [dbo].[PATIENTS] ([PATIENT_ID], [ACCOUNT_ID], [PRACTITIONER_ID], [FULL_NAME], [DATE_ADDED]) VALUES (6, 11, 10, N'patient2', CAST(N'2026-04-25T10:47:49.477' AS DateTime))
INSERT [dbo].[PATIENTS] ([PATIENT_ID], [ACCOUNT_ID], [PRACTITIONER_ID], [FULL_NAME], [DATE_ADDED]) VALUES (7, 12, 9, N'patient0', CAST(N'2026-04-26T21:42:05.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[PATIENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENTS] ON 

INSERT [dbo].[PAYMENTS] ([PAYMENT_ID], [APPOINTMENT_ID], [AMOUNT], [PAYMENT_METHOD], [REFERENCE_NUMBER], [STATUS], [PAID_AT], [CREATED_AT]) VALUES (1, 2, CAST(500.00 AS Decimal(10, 2)), N'gcash', N'09927668770', N'paid', CAST(N'2026-05-09T11:13:50.480' AS DateTime), CAST(N'2026-05-09T11:13:50.480' AS DateTime))
INSERT [dbo].[PAYMENTS] ([PAYMENT_ID], [APPOINTMENT_ID], [AMOUNT], [PAYMENT_METHOD], [REFERENCE_NUMBER], [STATUS], [PAID_AT], [CREATED_AT]) VALUES (2, 3, CAST(700.00 AS Decimal(10, 2)), N'gcash', N'09927668770', N'paid', CAST(N'2026-05-10T18:06:01.777' AS DateTime), CAST(N'2026-05-10T18:06:01.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[PAYMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBSCRIPTIONS] ON 

INSERT [dbo].[SUBSCRIPTIONS] ([SUBSCRIPTION_ID], [ACCOUNT_ID], [PLAN_TYPE], [START_DATE], [END_DATE], [STATUS], [MONTHLY_LIMIT]) VALUES (1, 2, N'basic', CAST(N'2026-04-23T22:14:39.257' AS DateTime), CAST(N'2026-05-23T16:14:39.000' AS DateTime), N'active', 10)
INSERT [dbo].[SUBSCRIPTIONS] ([SUBSCRIPTION_ID], [ACCOUNT_ID], [PLAN_TYPE], [START_DATE], [END_DATE], [STATUS], [MONTHLY_LIMIT]) VALUES (2, 6, N'premium', CAST(N'2026-04-24T01:06:18.600' AS DateTime), CAST(N'2026-05-23T19:06:18.000' AS DateTime), N'active', NULL)
INSERT [dbo].[SUBSCRIPTIONS] ([SUBSCRIPTION_ID], [ACCOUNT_ID], [PLAN_TYPE], [START_DATE], [END_DATE], [STATUS], [MONTHLY_LIMIT]) VALUES (3, 9, N'premium', CAST(N'2026-04-25T09:34:39.403' AS DateTime), CAST(N'2026-05-25T03:34:39.000' AS DateTime), N'cancelled', NULL)
SET IDENTITY_INSERT [dbo].[SUBSCRIPTIONS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNTS__161CF7248038F053]    Script Date: 5/10/2026 11:32:37 PM ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ('practitioner') FOR [ROLE]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (getdate()) FOR [DATE_CREATED]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT ('free') FOR [SUBSCRIPTION]
GO
ALTER TABLE [dbo].[APPOINTMENTS] ADD  DEFAULT ((0.00)) FOR [FEE]
GO
ALTER TABLE [dbo].[APPOINTMENTS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[APPOINTMENTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[ASSESSMENTS] ADD  DEFAULT (getdate()) FOR [DATE_ASSESSED]
GO
ALTER TABLE [dbo].[PATIENTS] ADD  DEFAULT (getdate()) FOR [DATE_ADDED]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT ('pending') FOR [STATUS]
GO
ALTER TABLE [dbo].[PAYMENTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[SUBSCRIPTIONS] ADD  DEFAULT ('basic') FOR [PLAN_TYPE]
GO
ALTER TABLE [dbo].[SUBSCRIPTIONS] ADD  DEFAULT (getdate()) FOR [START_DATE]
GO
ALTER TABLE [dbo].[SUBSCRIPTIONS] ADD  DEFAULT ('active') FOR [STATUS]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_APPT_PATIENT] FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENTS] ([PATIENT_ID])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_APPT_PATIENT]
GO
ALTER TABLE [dbo].[APPOINTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_APPT_PRAC] FOREIGN KEY([PRACTITIONER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[APPOINTMENTS] CHECK CONSTRAINT [FK_APPT_PRAC]
GO
ALTER TABLE [dbo].[ASSESSMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ASSESS_PATIENT] FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENTS] ([PATIENT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ASSESSMENTS] CHECK CONSTRAINT [FK_ASSESS_PATIENT]
GO
ALTER TABLE [dbo].[ASSESSMENTS]  WITH CHECK ADD  CONSTRAINT [FK_ASSESS_PRACTITIONER] FOREIGN KEY([PRACTITIONER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[ASSESSMENTS] CHECK CONSTRAINT [FK_ASSESS_PRACTITIONER]
GO
ALTER TABLE [dbo].[PATIENTS]  WITH CHECK ADD  CONSTRAINT [FK_PATIENTS_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[PATIENTS] CHECK CONSTRAINT [FK_PATIENTS_ACCOUNT]
GO
ALTER TABLE [dbo].[PATIENTS]  WITH CHECK ADD  CONSTRAINT [FK_PATIENTS_PRACTITIONER] FOREIGN KEY([PRACTITIONER_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[PATIENTS] CHECK CONSTRAINT [FK_PATIENTS_PRACTITIONER]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAY_APPT] FOREIGN KEY([APPOINTMENT_ID])
REFERENCES [dbo].[APPOINTMENTS] ([APPOINTMENT_ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAY_APPT]
GO
ALTER TABLE [dbo].[SUBSCRIPTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SUBS_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNT_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUBSCRIPTIONS] CHECK CONSTRAINT [FK_SUBS_ACCOUNT]
GO
